.create{
    width: 80%;
    text-align: center;
    margin: auto;
    height: 100%;
    overflow: auto;
    /* margin-top: 5rem; */
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 18px 3px rgb(212, 211, 211);
    background-color: #fff;
    z-index: 100;
}
.title-create-post{
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}
.icon-and-button-create > button{
    padding: 10px 20px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: rgb(0, 149, 246) ;
    border-radius: 13px;
    cursor: pointer;
}
.icon-and-button-create{
    margin-top: 13rem;
}
.ic{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.icon-and-button-create > p{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 1rem;
    
}

.image-user-create > img{
    margin-top: .5rem;
    width: 100%;
    object-fit: cover;
}
.btn-next{
    border: none;
    background-color: white;
    outline: none;
    font-size: 16px;
    color:rgb(0, 149, 246);
    font-weight: 700;
    padding: 10px 0;
    cursor: pointer;
}
.Btn-next-con{
    border-bottom: 1px solid gray;
}
.cancelButton-create{
    position: absolute;
    right: 0;
    top: 0;
}